body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-image: url(https://thumbs.dreamstime.com/z/funny-kittens-peeking-white-background-80383765.jpg);
    background-repeat: no-repeat;
    background-size: 122%;
    background-position-x: center;
}

#title {
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    text-align: center;
    margin-bottom: 32px;
    color: saddlebrown;
}

#description {
    width: 35%;
    text-align: center;
    margin: 25px auto;
}

input, select, textarea {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: white;
    border: none;
}

form {
    padding: 25px 35px;
    background: linear-gradient(rgb(255, 213, 178), rgba(255, 213, 178, 0.4));
    width: 40%;
    margin: 42px auto 38px auto;
}

input, select {
    border: 3px solid saddlebrown;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
}


fieldset {
    padding: 0;
    border: none;
}

.question {
    width: 100%;
}

input[type="radio"] {
    width: unset;
    margin-right: 10px;
    margin-top: -10px;
    border: 3px solid saddlebrown;
}

.radio_label {
    margin: 0 10px;
}

textarea {
    margin: 0 auto;
    width: 100%;
    border: 3px solid saddlebrown;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: unset;
}

textarea {
    margin-bottom: 14px;
    margin-top: 10px;
}

#features {
    padding: 0;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    height: 30px;
    text-indent: 10px;
}

#yes_no {
    margin-bottom: 12px;
}

input[type="number"], select {
    display: inline;
    margin-left: 20px;
    height: 30px;
}

input[type="number"] {
    width: unset;
}

select {
    width: 23%;
    height: 35px;
}

input[type="submit"] {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: -2px;
    height: 35px;
    width: 20%;
    background-color: saddlebrown;
    color: white;
}

.textarea_label {
    margin-bottom: 20px;
}

#q_features {
    margin-top: -1px;
}

#name-label, #email-label, #number-label {
    color: black;
}
